* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.main-container {
    padding-left: 100px;
    padding-right: 100px;
    background-color: #fff5f2;
    height: auto;
    z-index: 1; /* Lower than navbar */
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #fff5f2; */
   height: 550px;
   flex-direction: row; 
}


.hero-text {
    max-width: 50%;
    /* gap:24px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-text h1 {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.2;
}

.hero-text p {
    font-size: 1.4rem;
    color:#666666;
    margin: 20px 0;
}

.explore-btn {
    background-color: #f55a42;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.hero-image {
    /* max-width: 40%; */
    position: relative;
    text-align: right;
}

.hero-image img {
    /* max-width: 100%; */
}
.hero-text {
    order: 1; /* Default order for text */
}

.hero-image {
    order: 2; /* Default order for image */
}

.row{
    height: auto;
}
.explore-btn{
    height: 64px;
    width: 200px;
    font-size: 24px;
}

@media (max-width: 768px) {
    .main-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .hero-section {
        flex-direction: column; /* Stack items vertically */
    }

    .hero-text {
        max-width: 100%;
        margin-bottom: 20px;
        order: 2; /* Text comes after the image on mobile */
    }

    .hero-image {
        max-width: 100%;
        text-align: center;
        order: 1; /* Image comes first on mobile */
    }

    .floating-boxes {
        position: static;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 20px;
    }
}
@media (max-width: 576px) {
    .main-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-text h1 {
        font-size: 1.5rem;
    }

    .explore-btn {
        font-size: 0.8rem;
    }

    .hero-image img {
        max-width: 80%;
    }

    .floating-boxes {
        flex-direction: column;
        align-items: center;
    }

    .floating-boxes .box {
        margin-bottom: 10px;
        text-align: center;
    }

    .floating-boxes .box img {
        margin-bottom: 5px;
    }
}



/* second */

.container2 {
    background-size: cover;
            background-position: center; 
   min-height: 238vh; 
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
    background-image: url(../images/AHZ\ -\ Ad-BG.svg);
}

.cont2row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.first-row {
    justify-content: space-between;
}

.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.subheading {
    font-size: 24px;
    font-weight: 600;
    color: #FF795E;
}

.main-heading {
    font-size: 48px;
    font-weight: 600;
    color: #212121;
}

.main-heading span {
    color: #059D46;
}

.right-column {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.description {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    text-align: left;
}

.second-row {
    justify-content: space-between;
}

.cardbox {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: 0 10px;
    border: 0px solid #D2E1E9;
    border-radius: 8px;
    text-align: left;
}

.icon {
    width: 68px;
    height: 68px;
    background-color: #D2E1E9;
    border-radius: 0%;
    margin-bottom: 16px;
}
.cardicon{
    width: 60px;
    height: 50px;
}
.cardbox h3 {
    font-size: 22px;
    font-weight: 500;
    color: #222222;
    margin: 0;
}

.cardbox p {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    line-height: 30px;
}

@media (max-width: 768px) {

    .container2 {

    }

    .cont2row {
        flex-direction: column;
    }

    .first-row {
        flex-direction: column;
    }

    .second-row {
        flex-direction: column;
    }

    .cardbox {
        margin-bottom: 20px;
    }
}

/* third */
.containerservice{
    width: 100%;
    /* max-width: 1200px; */
    margin-top:250px ;
    /* padding: 50px; */
    /* padding-left: 100px;
    padding-right: 100px; */
    text-align: center;
}

.services-title {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 100px;
}

.servicerow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 88px;
}


.servicecard {
    flex: 1 1 45%;
    margin: 0 0px; 
    border: 1px solid #D2E1E9;
    backdrop-filter: blur(94px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 24px;
    text-align: left;
    gap: 24px;
}

.servicecard h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}


.servicecard-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* gap: 6px; */
    font-size: 20px;
}

.servicedescription {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    flex: 1; 
    margin-right: 10px; 
    color: white;
    line-height: 32px;
    /* width: 300px; */
}
/* width: 154px;
    backdrop-filter: blur(74px);
    border-radius: 6px;
    background-color: rgba(212, 212, 212, 0.1);
    height: 154px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box; */
.servicelogo-box {
    width: 154px;
    backdrop-filter: blur(74px);
    border-radius: 6px;
    background-color: rgba(212, 212, 212, 0.1);
    height: 154px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    /* height: 68px;
    background-color: #D2E1E9;
    border-radius: 8px; */
}

@media (max-width: 768px) {
    .servicerow {
        flex-direction: column; 
    }

    .servicecard {
        flex: 1 1 100%; 
        margin: 10px 0; 
    }

    .servicecard-content {
        flex-direction: column; 
        align-items: flex-start;
    }

    .servicedescription {
        margin-right: 0; 
        margin-bottom: 10px;
    }
    .services-title{
        font-size: 24px;
    }
}


/* container 3 */


.feedbackmain-container {
    background-color: #FFFFFF;
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 40px 20px; */
    padding: 100px;
}

/* Container A (Header) */
.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.left-box {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 10px;
}

.right-box {
    flex: 1 1 50%;
    max-width: 50%;
    text-align: right;
    padding: 10px;
}
.right-box span {
    padding-right: 50px;

}
.left-box h2 {
    color: #ff6840;
    font-size: 24px;
}

.left-box h1 {
    font-size: 40px;
    font-weight: bold;
}

.right-box span {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

.see-more-btn {
    padding: 10px 20px;
    background-color: #fdbb58;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

/* Container B (Feedback Section) */
.feedback-container {
    margin-top: 40px;
    background-color: #FEFFFE;
}
/* Feedback with Arrows */
.feedback-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
    position: relative;
}

.feedback-text {
    flex: 1;
    text-align: center;
    margin: 20px 0;
    max-width: 850px;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 24px;
}

.arrow {
    font-size: 36px;
    cursor: pointer;
    padding: 0 20px;
    color: #666;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}


@media (max-width: 768px) {
    .feedback-box {
        flex-direction: column;
    }
    
    .arrow {
        display: none;
    }
}


/* Image Container */
.images-container {
    display: flex;
    justify-content:center;
    gap: 91px;
    flex-wrap: wrap;

}

.image-box {
    position: relative;
    /* text-align: center; */
    transition: transform 0.3s;
    /* flex: 1 1 30%; */
    max-width: 180%;
    /* padding: 10px; */
}

.image-box img {
    width: 230px;
    height: 287.5px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.client-info {
    width: 390px;
    position: absolute;
    /* bottom: 10px; */
    left: 50%;
    transform: translateX(-50%);
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: rgb(0, 0, 0);
    padding: 50px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
   
}

.client-info h3{
    text-align: center;
    font-size: 32px;
}
.client-info p{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.image-box:hover img {
    transform: scale(1.05);
}

.image-box:hover .client-info {
    opacity: 1;
    visibility: visible;
}

/* Hover state for center image by default */
.hover-state img {
    transform: scale(1.05);
}

.hover-state .client-info {
    opacity: 1;
    visibility: visible;
}

/* Responsive Design */

@media (max-width: 1000px) {
    .images-container {
        flex-direction: column;
        align-items: center;
        gap: 160px;
    }
}
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }
    
    .left-box, .right-box {
        max-width: 100%;
    }

    .feedback-box {
        flex-direction: column;
        text-align: center;
    }

    .arrow {
        display: none;
    }

    .images-container {
        flex-direction: column;
        align-items: center;
        gap: 160px;
    }

    .image-box {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .see-more-btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .left-box h1 {
        font-size: 32px;
    }

    .left-box h2 {
        font-size: 20px;
    }

    .feedback-text p {
        font-size: 16px;
    }

    .images-container {
        /* gap: 10px; */
    }

    .image-box {
        max-width: 90%;
    }
}



/* we offer */


.container_4 {
    /* max-width: 1200px; */
    margin: auto;
    padding-top: 50px;
        /* background-color: #fff5f2; */
}

.offercontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: white; */
    border-radius: 8px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    padding-left: 100px;
    padding-right: 100px;
    /* gap:130px; */
}

ul li{
    list-style-type: none;
}
.offerimage-section {
    flex: 1;
}

.main-image {
    width: 96%;
    height: auto;
    border-radius: 8px;
}

.offertext-section {
    flex: 1;
    padding-left: 0px;
    /* width: 655px;
    height:620px; */
    padding: 60px;
}

.offertext-section h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight:bold;
}

.offertext-section h2 {
    font-size: 48px;
    margin-top: 30px;
    color: #0056b3;
}

.offertext-section p {
    /* width: 560px; */
    font-size: 20px;
    color: #555;
    margin-bottom: 15px;
    line-height: 40px;
}

.offertext-section ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 15px;
    line-height: 44px;
}

.offertext-section button {
    background-color: #FF765A;
    color: white;
    border: none;
    padding: 10px 70px;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.offertext-section button:hover {
    background-color: #0056b3;
}
.headyear{
    font-size: 16px;
    font-weight: 3px;
}
/* Responsive Styles */
@media (max-width: 768px) {
    .offercontainer {
        flex-direction: column;
    }

    .offerimage-section {
        order: 1; /* image first */
        margin-bottom: 20px;
    }

    .offertext-section {
        order: 2; /* text second */
        padding-left: 0; 
    }
    .headyear{
        font-size: 8px;
    }
}


/* plan section */


.plancontainer {
    max-width: 1312px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.plancontainer h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.plancontainer p {
    font-size: 16px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd; 
}


thead th{
    font-size: 32px;
}
td:first-child {
    text-align: left; 
}
th{
    padding-top: 24px;

padding-bottom: 24px
;}
th, td {
    border-bottom:  1px solid #ddd;
    padding: 24px;
    text-align: center;
}

th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

tr:nth-child(even) {
    background-color: #ffffff;
}


.firsthead{
    text-align: left; 
}
tr:hover {
    background-color: #ddd;
}

td img{
    width: 150px;
}

/* Responsive Styles */
@media (max-width: 300px) {
   .plancontainer h1 {
        font-size: 24px;
    }

   .plancontainer p {
        font-size: 14px;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        font-size: 14px;
        padding: 2px;
    }
    td img{
        width: 10px;
    }

    th {
        font-size: 16px;
    }
}

@media (max-width: 350px) {
   .plancontainer h1 {
        font-size: 20px;
    }

  .plancontainer  p {
        font-size: 12px;
    }

    th, td {
        font-size: 12px;
        padding: 6px;
    }
    td img{
        width: 8px;
    }
}


@media (max-width: 1220px) {
    td img{
        width: 78px;
    }
 }

@media (max-width: 720px) {
    .plancontainer h1 {
         font-size: 20px;
     }
 
   .plancontainer  p {
         font-size: 12px;
     }
 
     th, td {
         font-size: 12px;
         padding: 6px;
     }


thead th{
    font-size: 16px;
}

td img{
    width: 38px;
}
 }



 /* explorecontainer */
 .explorecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
            background-color: #fff5f2;
}

.image-container {
    background-image: url('../images/explorenew.png');
    background-size: cover;
    background-position: center;
    width: 1312px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 100px 150px 72px; 
    position: relative;
    color: white; 
    border-radius: 10px;
}

.text-column {
    max-width: 60%; 
}

.text-column h1 {
    font-size: 64px; 
}

.text-column h2 {
    font-size: 64px; 
    margin-top: 10px;
}

.button-column {
    display: flex;
    align-items: flex-end; 
}

.explore-button {
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 40px; 
    transition: background-color 0.3s; 
}

.explore-button:hover {
    background-color: #ff6347;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .image-container {
        padding: 80px 20px; 
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .text-column {
        max-width: 100%; 
    }

    .explore-button {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .image-container {
        padding: 50px 10px;
    }

    .text-column h1 {
        font-size: 28px; 
    }

    .text-column h2 {
        font-size: 20px; 
    }

    .explore-button {
        font-size: 14px; 
    }
}
